#logo {
    font-family: "Anton", sans-serif;
    font-weight:600;
    font-style: normal;
  }
  
body{

overflow-x: hidden;

}


@media(max-width:766px){

#search{

  padding: 5px;

}

}


@media(min-width:766px){

  #search{
  
     width:750px;
  
  }
  
  }


#text-callgirl{
   font-size: 14.1px;
}


@media(min-width:766px){

  #text-callgirl{
    font-size: 20px;
 }

}


#border-btm{
  border-right: navy;
}



@media(max-width:769px){

  #table{
     
    margin-left: 2rem;
    margin-right: 2rem;

  }
  

 #texthead{
  font-size: 16px;
 }

}



#user-card-cont{

  width:1186px;
}


#Descrept-info{
  
  width:888px;

}


@media(max-width:1192px){

  #user-card-cont{

    width: 100%;
  }

  #Descrept-info{
    width:800px;
  }


}

@media(max-width:820px){

  #user-card-cont{

    width: 100%;
  }

  #Descrept-info{
    width:500px;
  }


}


@media(max-width:636px){

  #user-card-cont{

    width: 100%;
  }

  #Descrept-info{
    width:100%;
  }


}







@media(max-width:422px){

  #width-inc{
    width: 192px;
  }
  #image-recvie{
    width: 140px;
    height: 240px;
  }

}


#whatsapp{
  border-radius: 10px;
}

#telegram{
 border-radius: 10px;
}




#img-gal{
  
}


@media(max-width:450px){

  #whatsapp{
     background: none;
  }

#telegram{
  background: none;
}

#img-gal{
 
  display: flex;

}
   
}

